.test{
    color:  cornflowerblue;
}

body{
    color:  cornflowerblue;
}

iframe{
    width: 300px;
}

.div_iframe{
    padding: 100px;
    width: 500px;
    height: auto;
    background-color: darkcyan;
}