<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>test.js</title>

</head>
<body>
    <h1>TEST</h1>
    <h2>test.js contents</h2>
    <nav>
        <button class="btn">BTN</button>
        <a href="/">home page</a>
        <a href="/about">about page</a>
    </nav>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../utils/test.js"></script>
</body>
</html>